* {
	webkit-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* For display width less than 600px*/
@media only screen and (max-width: 599px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*for display width less than 1000px*/
@media screen and (max-width: 1000px) {
	
}
/*for display width greater than 1000px*/
@media screen and (min-width: 1001px) {
	.nav-accordion {
		display: none;
	}
	
}

@font-face {
	font-family: raleway;
	src: url(../font/Raleway-Thin.ttf);
}
@font-face {
	font-family: roboto;
	src: url(../font/Roboto-Thin.ttf);
}
/*remove margin and padding*/
body {
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #596372;
}

/*set up the background image of the header*/
.header-bg {
	background-image: url(../img/building-111.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.menu-button {
	background-color: rgb(0,0,0,0.4);
	color: rgba(232,232,232,0.9);
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 5px;
	width: 110px;
	position: absolute;
	right: 20px;
	top: 20px;
}
.menu-button:hover {
	cursor: pointer;
}
.nav-accordion {
	background-color: rgb(71,79,91);
	width: 100%;
	margin-top: -16px;
	padding: 20px;
	padding-top: 50px;
	position: relative;
}

.nav-accordion #link-list {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	list-style-type: none;
	display: none;
	height: auto;
}

.nav-accordion a, .nav-accordion .with-panel {
	text-decoration: none;
	color: rgb(232,232,232);
	text-transform: capitalize;
}
.nav-accordion li {
	display: block;
	padding: 20px;
}
.nav-accordion .accordion {
	background-color: rgb(64,64,64);
	border-radius: 4px;
	margin: 2px 0px;
}
.nav-accordion .panel {
	display: none;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.3s ease-out;
	transition: max-height 0.3s ease-out;
}
.nav-accordion .sub-accordion {
	background-color: rgb(80,80,80);
	border-radius: 4px;
	padding-left: 35px;
	border-bottom: 1px solid rgb(64,64,64);
}
.nav-accordion .fa {
	padding-left: 10px;
	
}
.nav-accordion .sub-panel {
	display: none;
	background-color: rgb(96,96,96);
        max-height: 0;
        overflow:hidden;
        -webkit-transition: max-height 0.3s ease-out;
        transition: max-height 0.3s ease-out;
}
.nav-accordion .sub-panel li {
	border-bottom: 1px solid rgb(88,88,88);
	padding-left: 35px;
}
.active, .nav-accordion li:hover {
	background-color: rgb(72,72,72);
	cursor: pointer;
}
/*tranparent overlay*/
.header-bg .header {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 150px 50px;
	padding-bottom: 80px;
}
/*logo with feint border*/
.logo {
	width: 50%;
	margin: 0 auto;
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 30px 30px;
	background-color: rgba(0, 0, 0, 0.2);
}
/*logo header*/
.logo h1 {
	font-size: 3em;
	font-family: raleway;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}
/*letter spacing on text*/
.logo p {
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	font-size: 14px;
	letter-spacing: 6px;
	margin-top: -25px;
}

/*nav bar is 50% width and center aligned*/
.nav {
	width: 80%;
	margin: 70px auto;
	text-align: center;
}

/*zero margins and paddings on unordered list*/
.nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*icons on navbar*/
.nav .link-btn .fa {
	display: block;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.4);
	padding-bottom: 6px;
}
/*margin and inline block of link buttons in navbar*/
.nav ul li.link-btn {
	display: inline-block;
	text-transform: uppercase;
	margin-left: 50px;
}
/*zero left marginon first link button */
.nav ul li.link-btn:first-child {
	margin-left: 0;
}
/*increase opacity on hover of link button*/
.nav ul li.link-btn > a:hover {
	color: rgba(255, 255, 255, 0.9);
}
/*increase opacity of icons on hover of link button*/
.nav ul li.link-btn > a:hover .fa {
	color: rgba(255, 255, 255, 0.6);
}
/*style all links in navigation bar*/
.nav a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
}
/*top padding in dropdown content*/
.nav ul.dropdown-content {
	padding-top: 12px;
	
}
/*drop down and sub drop down hide*/
.nav ul.dropdown-content, .nav ul.sub-dropdown-content {
	visibility: hidden;
   opacity: 0 ;
	position: absolute;
	left: -10px;
	text-align: left;
	width: 200px;
	-webkit-box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.2);
	
}
/*push sub dropdown to the right*/
.nav ul.sub-dropdown-content {
	left: 210px;
	top: 1px;
	padding-left: 5px;
}
.nav ul.dropdown-content a span {
	float: right;
	color: rgba(0, 0, 0, 0.8);
	
}
.nav ul.dropdown-content li, .nav ul.sub-dropdown-content li {
	padding: 5px 10px;
	background-color: rgba(242, 242, 242, 1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/*background color when hover on li except for sub dropdown button*/
.nav ul.dropdown-content li:not(.sub-drp-btn):hover, .nav ul.sub-dropdown-content li:hover {
	background-color: rgba(230, 230, 230, 1);
}
/*color of dropdown content text*/
.nav ul.dropdown-content a, .nav ul.sub-dropdown-content a {
	color: #555555;
}
/*make position of drop button relative*/
.nav ul li.drp-btn, .nav ul li.sub-drp-btn {
	position: relative;
}
/*display dropdown and sub dropdown content on hover*/
.nav ul li.drp-btn:hover .dropdown-content, .nav ul li.sub-drp-btn:hover .sub-dropdown-content {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}
/*change padding of sub dropdown on hover*/
.nav ul li.sub-drp-btn:hover .sub-dropdown-content {
	left: 200px;
	transition: left 0.3s ease-in-out;
	-moz-transition: left 0.3s ease-in-out;
	-webkit-transition: left 0.3s ease-in-out;
}

/*typography*/
.typography {
	font-size: 15px;
}
.typography .headings-and-paragraphs {
	border-bottom: 1px solid rgba(172,172,172,0.4);
}
.typography .section {
	padding: 20px;
}
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    font-family: roboto;
	  font-weight: 700;
    line-height: 1.5em;
    margin-top: 0;
	  color: #353535;
}
.typography .title {
	font-size: 28px;
	margin-bottom: 20px;
}
.typography .headings h1 {
	font-size: 60px;
	margin-bottom: 26px;
}
.typography .headings h2 {
	font-size: 42px;
	margin-bottom: 24px;
}
.typography .headings h3 {
	font-size: 34px;		
	margin-bottom: 22px;
}
.typography .headings h4 {
	font-size: 28px;
	margin-bottom: 20px;
}
.typography .headings h5 {
	font-size: 24px;
	margin-bottom: 20px;
}
.typography .headings h5 {
	font-size: 22px;
	margin-bottom: 20px;
}
.typography p {
	font-size: 14px;
	line-height: 1.6em;
}
.typography p.italic {
	font-style: italic;
	margin-top: 20px;
}
.typography p.lead {
	margin-bottom: 20px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
}
.typography p.small {
	font-size: 85%;	
}
.typography .float-image .content img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.typography .description-lists, .typography .lists, .typography .inline-list {
	border-bottom: 1px solid rgba(172,172,172,0.4);
	padding-bottom: 20px;
}
.typography .description-lists .section {
	padding: auto 50px;
	line-height: 1.5em;
}
.typography .description-lists dt {
	font-weight: 700;
} 
.typography .description-lists dd {
	margin-left: 20px;
}
.typography .description-horizontal dt {
	float: left;
	width: 150px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.typography .description-horizontal dd {
	margin-left: 160px;
}
.typography ol, .typography ul {
	line-height: 1.6em;
}
.typography .unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}
.typography ol.styled, .typography ul.styled {
	padding: 0;
	margin-left: 19px;;
}
.typography .inline-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.typography .inline-list ul li {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}
.typography blockquote .fa-quote-left {
  margin-right: 20px;
  font-size: 28px;
}
.typography blockquote, .typography .pull-quote p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    color: #a2a2a2;
    line-height: 1.6em;
    margin-left: 0%;
}
.typography blockquote {
  font-style: italic;
}
.typography .pull-quote p.pull-left {
  border-left: 5px solid orangered;
  padding-left: 20px;
}
.typography .pull-quote p.pull-right {
  border-right: 5px solid orangered;
  padding-right: 20px;
}
.contact {
	width: 90%;
	margin: auto;
}
.contact .contact-form {
	 color: #596372;
	 font-size: 17px;
	 margin: auto;
}
.contact .contact-form .title {
	 text-transform: capitalize;
	 font-size: 28px;
	 font-family: raleway;
	 padding-top: 10px;
	 font-weight: 900;
	margin-bottom: 10px;
}
.contact .contact-form .section {
	 padding-top: 10px;
	 font-size: 16px;
	 line-height: 1.9em;
	 font-family: 'Roboto', sans-serif;
   font-size: 18px;
   font-weight: 900;
	margin-bottom: 60px;
}
.contact .contact-form form {
	
}
.contact .contact-form form label {
	display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact .contact-form form input, .contact .contact-form form textarea {
	display: block;
	margin-bottom: 25px;
	border: 1px solid rgb(200,200,200);
	border-radius: 5px;
	padding: 8px;
	font-family: roboto;
	font-weight: 900;
}
.contact .contact-form form input {
	width: 50%;	
}
.contact .contact-form form textarea {
	width: 75%;
	height: 150px;
	line-height: 1.5em;
}
.contact .contact-form form input[type="submit"] {
	width: 120px;
	border-radius: 0px;
	color: rgb(220,220,220);
	background-color: #596372;
}
.contact .contact-form form input[type="text"]:focus, .contact .contact-form form textarea:focus {
	 border-color: rgba(126, 239, 104, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
.contact .contact-info {
	 padding-top: 35px;
}
/*make padding of both panels zero*/
.contact .contact-details, .contact .about {
	 background-color: 	rgb(244,244,244);
	 border: 1px solid 	rgb(200,200,200);
	 color: #596372;
	 border-radius: 6px;
	 font-size: 17px;
	 width: 90%
	 min-width: 300px;;
	 margin: auto;
	 padding: 0;
}
/*set top margin of below panel*/
.contact .about {
	 margin-top: 70px;
}
/*headers of both panels*/
.contact .contact-details .header, .contact .about .header {
	 text-transform: capitalize;
	 font-size: 20px;
	 font-family: raleway;
	 border-bottom: 2px solid rgb(200,200,200);
	 padding: 10px;
	 font-weight: 900;
}
.contact .contact-details .section, .contact .about .section {
	 padding: 10px;
	 font-size: 16px;
	 line-height: 1.9em;
	 font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 900;
}

.contact .contact-details p {
	 padding-left: 10px;
	 padding-right: 10px;
	 line-height: 1.4em;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 900;	 
}
.contact .contact-details i {
	 margin-right: 5px;
}
footer {
	color: rgba(255, 255, 255, 0.7);
	background-color: #04070C;
}

footer .row {
	margin-top: 17px;
}
footer .row .friends, footer .row .image-credits {
	padding-left: 20px;
}
footer .row div h3 {
	font-size: 23px;
	font-weight: 100;
	color: rgb(220,220,220);
}
footer .row .disclaimer {
	
}
footer .row p {
	line-height: 1.8em;
	font-size: 18px;
}
.sample-links {
	padding: 0;
	margin-left: 0;
	padding-left: 30px;
	padding-top: 30px;
}
.sample-links li {
	display: inline-block;
	width: 100px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	text-align: center;
}
.sample-links li:last-child {
	border-right: none;
}
.sample-links li a {
	text-decoration: none;
	font-family: roboto;
	color: rgba(255, 255, 255, 0.5);
	font-size: 15px;
}
.sample-links li a:hover {
	color: rgba(255, 255, 255, 0.7);
}
.copyright {
	margin: 0;
	padding: 0;
padding: 0;
}

/* For display width less than 768px*/
@media only screen and (max-width: 767px) {
	.contact .contact-details, .contact .about {
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {

	/*logo with feint border*/
	.logo {
		width: 100%;
		min-width: 200px;
		margin: 0 auto;
		border: 1px solid rgba(255, 255, 255, 0.3);
		background-color: rgba(0, 0, 0, 0.2);
	}
	
	.nav {
		display: none;
	}

	/*logo header*/
	.logo h1 {
		font-size: 2.5em;
		font-family: raleway;
		text-transform: uppercase;
		text-align: center;
		color: rgba(255, 255, 255, 1);
	}

	/*letter spacing on text*/
	.logo p {
		color: rgba(255, 255, 255, 0.7);
		text-align: center;
		font-size: 12px;
		letter-spacing: 5px;
		margin-top: -20px;
	}
} 