* {
	webkit-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (max-width: 599px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 1000px) {
	.nav {
		display: none;
	}
}
@media screen and (min-width: 1001px) {
	.nav-accordion {
		display: none;
	}
}

@font-face {
	font-family: raleway;
	src: url(../font/Raleway-Thin.ttf);
}
@font-face {
	font-family: roboto;
	src: url(../font/Roboto-Thin.ttf);
}
/*remove margin and padding*/
body {
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/*set up the background image of the header*/
.header-bg {
	background-image: url(../img/building-111.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.menu-button {
	background-color: rgb(0,0,0,0.4);
	color: rgba(232,232,232,0.9);
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 5px;
	width: 110px;
	position: absolute;
	right: 20px;
	top: 20px;
}
.menu-button:hover {
	cursor: pointer;
}
.nav-accordion {
	background-color: rgb(71,79,91);
	width: 100%;
	margin-top: -16px;
	padding: 20px;
	padding-top: 50px;
	position: relative;
}

.nav-accordion #link-list {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	list-style-type: none;
	display: none;
	height: auto;
}

.nav-accordion a, .nav-accordion .with-panel {
	text-decoration: none;
	color: rgb(232,232,232);
	text-transform: capitalize;
}
.nav-accordion li {
	display: block;
	padding: 20px;
}
.nav-accordion .accordion {
	background-color: rgb(64,64,64);
	border-radius: 4px;
	margin: 2px 0px;
}
.nav-accordion .panel {
	display: none;
        max-height: 0;
        overflow:hidden;
        -webkit-transition: max-height 0.3s ease-out;
        transition: max-height 0.3s ease-out;
}
.nav-accordion .sub-accordion {
	background-color: rgb(80,80,80);
	border-radius: 4px;
	padding-left: 35px;
	border-bottom: 1px solid rgb(64,64,64);
}
.nav-accordion .fa {
	padding-left: 10px;
	
}
.nav-accordion .sub-panel {
	display: none;
	background-color: rgb(96,96,96);
        max-height: 0;
        overflow:hidden;
        -webkit-transition: max-height 0.3s ease-out;
        transition: max-height 0.3s ease-out;
}
.nav-accordion .sub-panel li {
	border-bottom: 1px solid rgb(88,88,88);
	padding-left: 35px;
}
.active, .nav-accordion li:hover {
	background-color: rgb(72,72,72);
	cursor: pointer;
}
/*tranparent overlay*/
.header {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 150px 100px;
	padding-bottom: 80px;
}
/*logo with feint border*/
.logo {
	width: 50%;
	margin: 0 auto;
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 30px 30px;
	background-color: rgba(0, 0, 0, 0.2);
}
/*logo header*/
.logo h1 {
	font-size: 3em;
	font-family: raleway;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}
/*letter spacing on text*/
.logo p {
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	font-size: 14px;
	letter-spacing: 6px;
	margin-top: -25px;
}

/*nav bar is 50% width and center aligned*/
.nav {
	width: 80%;
	margin: 70px auto;
	text-align: center;
}

/*zero margins and paddings on unordered list*/
.nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*icons on navbar*/
.nav .link-btn .fa {
	display: block;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.4);
	padding-bottom: 6px;
}
/*margin and inline block of link buttons in navbar*/
.nav ul li.link-btn {
	display: inline-block;
	text-transform: uppercase;
	margin-left: 50px;
}
/*zero left marginon first link button */
.nav ul li.link-btn:first-child {
	margin-left: 0;
}
/*increase opacity on hover of link button*/
.nav ul li.link-btn > a:hover {
	color: rgba(255, 255, 255, 0.9);
}
/*increase opacity of icons on hover of link button*/
.nav ul li.link-btn > a:hover .fa {
	color: rgba(255, 255, 255, 0.6);
}
/*style all links in navigation bar*/
.nav a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
}
/*top padding in dropdown content*/
.nav ul.dropdown-content {
	padding-top: 12px;
	
}
/*drop down and sub drop down hide*/
.nav ul.dropdown-content, .nav ul.sub-dropdown-content {
	visibility: hidden;
   opacity: 0 ;
	position: absolute;
	left: -10px;
	text-align: left;
	width: 200px;
	
}
/*push sub dropdown to the right*/
.nav ul.sub-dropdown-content {
	left: 210px;
	top: 1px;
	padding-left: 5px;
}
.nav ul.dropdown-content a span {
	float: right;
	color: rgba(0, 0, 0, 0.8);
	
}
.nav ul.dropdown-content li, .nav ul.sub-dropdown-content li {
	padding: 5px 10px;
	background-color: rgba(242, 242, 242, 1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/*background color when hover on li except for sub dropdown button*/
.nav ul.dropdown-content li:not(.sub-drp-btn):hover, .nav ul.sub-dropdown-content li:hover {
	background-color: rgba(230, 230, 230, 1);
}
/*color of dropdown content text*/
.nav ul.dropdown-content a, .nav ul.sub-dropdown-content a {
	color: #555555;
}
/*make position of drop button relative*/
.nav ul li.drp-btn, .nav ul li.sub-drp-btn {
	position: relative;
}
/*display dropdown and sub dropdown content on hover*/
.nav ul li.drp-btn:hover .dropdown-content, .nav ul li.sub-drp-btn:hover .sub-dropdown-content {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}
/*change padding of sub dropdown on hover*/
.nav ul li.sub-drp-btn:hover .sub-dropdown-content {
	left: 200px;
	transition: left 0.3s ease-in-out;
	-moz-transition: left 0.3s ease-in-out;
	-webkit-transition: left 0.3s ease-in-out;
}
footer {
	color: rgba(255, 255, 255, 0.7);
	background-color: #04070C;
}

footer .row {
	margin-top: 17px;
}
footer .row .friends, footer .row .image-credits {
	padding-left: 20px;
}
footer .row div h3 {
	font-size: 23px;
	font-weight: 100;
	color: rgb(220,220,220);
}
footer .row .disclaimer {
	
}
footer .row p {
	line-height: 1.8em;
	font-size: 18px;
}
.sample-links {
	padding: 0;
	margin-left: 0;
	padding-left: 30px;
	padding-top: 30px;
}
.sample-links li {
	display: inline-block;
	width: 100px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	text-align: center;
}
.sample-links li:last-child {
	border-right: none;
}
.sample-links li a {
	text-decoration: none;
	font-family: roboto;
	color: rgba(255, 255, 255, 0.5);
	font-size: 15px;
}
.sample-links li a:hover {
	color: rgba(255, 255, 255, 0.7);
}
.copyright {
	margin: 0;
	padding: 0;
padding: 0;
}

@media only screen and (max-width: 1000px) {

	/*logo with feint border*/
	.logo {
		width: 100%;
		min-width: 200px;
		margin: 0 auto;
		border: 1px solid rgba(255, 255, 255, 0.3);
		background-color: rgba(0, 0, 0, 0.2);
	}

	/*logo header*/
	.logo h1 {
		font-size: 2.5em;
		font-family: raleway;
		text-transform: uppercase;
		text-align: center;
		color: rgba(255, 255, 255, 1);
	}

	/*letter spacing on text*/
	.logo p {
		color: rgba(255, 255, 255, 0.7);
		text-align: center;
		font-size: 12px;
		letter-spacing: 5px;
		margin-top: -20px;
	}
} 